[submodule "rpm-build-script"]
	path = rpm-build-script
	url = ssh://git@stash.ingramcontent.com:7999/rpm/rpm-build-script.git
[submodule "docker-console-client"]
	path = docker-console-client
	url = ssh://git@stash.ingramcontent.com:7999/rpm/docker-console-client.git
[submodule "docker-console-registrar"]
	path = docker-console-registrar
	url = ssh://git@stash.ingramcontent.com:7999/rpm/docker-console-registrar.git
