[submodule "rpm-build-script"]
	path = rpm-build-script
	url = git@github.com:vhsjwp01/rpm-build-script.git
[submodule "docker-console-client"]
	path = docker-console-client
	url = git@github.com:vhsjwp01/docker-console-client.git
[submodule "docker-console-registrar"]
	path = docker-console-registrar
	url = git@github.com:vhsjwp01/docker-console-registrar.git
